<li class="packages__list__item">
    <a target="_blank" href="package_path_placeholder">
        <span class="package__name"> {{name_placeholder}} </span>
        <span class="package__description"> {{description_placeholder}} </span>
    </a>
</li>